.pwd {
  position: relative;

  .eye {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
  }
}

.input-address {
  display: inline-block !important;
  width: 50% !important;
}

.error-address {
  display: inline-block !important;
  width: 50% !important;
}