.ff-sans {
  font-family: 'Noto Sans TC', sans-serif;
}

.ls-sm {
  letter-spacing: 8px;
}

.ls {
  letter-spacing: 4px;
}


.ff-serif {
  font-family: "Philosopher", sans-serif;
}

.writing-mode-vertical {
  writing-mode: vertical-lr;
}

.fs-7 {
  font-size: 12px !important;
}