.aside {
  position: fixed;
  align-items: center;
  left: 0;
  margin-top: $header-height + 2;
  transition: 1s;
  z-index: 9999;
  transform: translateX(-197px);

  .aside-body {
    border-right: 1px solid map-get($theme-colors, "primary");

    &:nth-of-type(1) {
      background: $body-bg;
      height: calc(100vh - $header-height);
      width: 197px;
    }

    &:nth-of-type(2) {
      background: $body-bg;
      height: calc(100vh - $header-height);
      align-content: center;

      @include mobile() {
        border-right: 0;
        height: 100%;
      }

      label {
        cursor: pointer;


        span {
          display: none;

          &.active {
            display: block;
          }
        }
      }

      &:hover label {
        color: gray;
      }
    }
  }

  .aside-title {
    font-weight: bold;
    position: relative;
    color: map-get($theme-colors, "primary");

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: calc(100% / 4);
      height: 5px;
      background: map-get($theme-colors, "secondary");
    }
  }
}

#menu:checked~aside {
  transform: translateX(0);

  span {
    display: block;

    &.active {
      display: none;
    }
  }
}